<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.270582623086-t6c86nnemdho0qgvfaaau5vb287ur535</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Microsoft Authentication</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.com.sam.sweep</string>
			</array>
		</dict>
	</array>
	<key>MSALClientID</key>
	<string>f3639504-389f-46b2-b7fe-47131f18430c</string>
	<key>GIDClientID</key>
	<string>270582623086-t6c86nnemdho0qgvfaaau5vb287ur535.apps.googleusercontent.com</string>
	<key>PUSH_API_BASE_URL</key>
	<string>https://us-central1-sweep-483918.cloudfunctions.net</string>
	<key>PUSH_API_KEY</key>
	<string>LPhXSH31rMEKa6O2fNTWEArHVqbapUoJLyAlE9qfzyY=</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
